{% extends 'shop/base.html' %}
{% block content %}
    <!--Section: Block Content-->
<section>


  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-8">

      <!-- Card -->
{% if books %}
{% for i in books %}

      <!-- Card -->
 <div class="card wish-list mb-3">
        <div class="card-body">


          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <img class="img-fluid w-100"
                  src="{{ i.image }}" alt="Sample">
                <a href="#!">
                  <div class="mask waves-effect waves-light">
                    <div class="mask rgba-black-slight waves-effect waves-light"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5>{{ i.book}} - {{ i.author }}</h5>
                    <p class="mb-3 text-muted text-uppercase small">Genre - {{ i.genre }}</p>
                    <p class="mb-2 text-muted text-uppercase small">Description - {{ i.description }}</p>
                    <p class="mb-3 text-muted text-uppercase">Price - {{ i.price }}</p>

                  </div>
                  <div>

                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a href="delete/{{ i.id }}" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                        class="fas fa-trash-alt mr-1"></i> Remove item </a>

                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <!-- Card -->
 {% endfor %}
    {% endif %}
      <!-- Card -->
      <div class="card mb-3">

      </div>


    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <h5 class="mb-3">The total amount of</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Temporary amount
              <span>$25.98</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span>Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>The total amount of</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span><strong>${{ total }}</strong></span>
            </li>
          </ul>
            <form method="post">
                {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Confirm</button>
            </form>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample1">
            Add a discount code (optional)
            <span><i class="fas fa-chevron-down pt-1"></i></span>
          </a>

          <div class="collapse" id="collapseExample1">
            <div class="mt-3">
              <div class="md-form md-outline mb-0">
                <input type="text" id="discount-code1" class="form-control font-weight-light"
                  placeholder="Enter discount code">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Block Content-->
{% endblock %}